################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Python/__pycache__/jmfmessages.cpython-37.pyc
Python/test.py
